<script>
  import { navigate } from "svelte-navigator";
  import { sortList } from "../../lib/db/cfps";
  import * as db from "../../lib/db";
  import { currentUser } from "../../stores/user";

  import { talkStatusLookup } from "../../stores/enums";
  import EmptyState from "../emptyState.svelte";
  export let myTalks = [];
  export let showColumns = ["title", "tagline", "published", "status"];
  export let showReorder = false;
  let isSorting = false;

  import { flip } from "svelte/animate";
  let hovering = false;

  const drop = (event, target) => {
    event.dataTransfer.dropEffect = "move";
    const start = event.dataTransfer.getData("text/plain");
    const thisId = start.substr(start.indexOf("-") + 1);
    let thisTalk = myTalks.find((v) => v.ref["@ref"].id === thisId);

    if (start > target) {
      for (let j = target; j <= start; j++) {
        myTalks[j].data.order++;
      }
      myTalks[start].data.order = target + 1;
    } else {
      for (let j = start; j <= target; j++) {
        myTalks[j].data.order += -1;
      }
      myTalks[start].data.order = target + 1;
    }

    myTalks = sortList(myTalks, "order");
    myTalks.forEach((v, i) => {
      v.data.order = i + 1;
      db.talks.update($currentUser, v.ref["@ref"].id, v.data);
    });
    hovering = null;
  };

  const dragstart = (event, i) => {
    event.dataTransfer.effectAllowed = "move";
    event.dataTransfer.dropEffect = "move";
    event.dataTransfer.setData("text/plain", i);
  };
</script>

{#if myTalks.length === 0}
  <EmptyState>No talks found</EmptyState>
{:else}
  <div id="talk-list">
    {#if showReorder}
      <nav class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <button
            class="button level-item is-small is-primary"
            on:click="{() => (isSorting = !isSorting)}"
          >
            {isSorting ? "Done" : "Reorder"}
          </button>
        </div>
      </nav>
    {/if}
    <table class="table is-striped is-fullwidth is-hoverable my-4">
      <thead>
        <tr>
          {#if isSorting}
            <th> </th>
          {/if}
          {#if showColumns.includes("title")}
            <th>
              Title
              <button
                class="button is-small is-white"
                on:click="{() => (myTalks = sortList(myTalks, 'title'))}"
                ><span class="icon is-small"><i class="fas fa-sort"></i></span>
              </button>
            </th>
          {/if}

          {#if showColumns.includes("tagline")}
            <th>
              Tagline
              <button
                class="button is-small is-white"
                on:click="{() => (myTalks = sortList(myTalks, 'tagline'))}"
                ><span class="icon is-small"><i class="fas fa-sort"></i></span>
              </button>
            </th>
          {/if}

          {#if showColumns.includes("status")}
            <th>
              Status
              <button
                class="button is-small is-white"
                on:click="{() => (myTalks = sortList(myTalks, 'status'))}"
              >
                <span class="icon is-small"><i class="fas fa-sort"></i></span>
              </button>
            </th>
          {/if}

          {#if showColumns.includes("published")}
            <th>
              Published
              <button
                class="button is-small is-white"
                on:click="{() => (myTalks = sortList(myTalks, 'published'))}"
              >
                <span class="icon is-small"><i class="fas fa-sort"></i></span>
              </button>
            </th>
          {/if}
        </tr>
      </thead>
      <tbody class="list" id="talkListDrag">
        {#each myTalks as thisTalk, index (index)}
          <tr
            class="is-clickable"
            on:click="{() => navigate(`/home/talk/${thisTalk.ref['@ref'].id}`)}"
            animate:flip
            draggable="{isSorting}"
            on:dragstart="{(event) => dragstart(event, index)}"
            on:drop|preventDefault="{(event) => drop(event, index)}"
            ondragover="return false"
            on:dragenter="{() => (hovering = index)}"
            class:is-selected="{hovering === index}"
            id="{`talkrow-${thisTalk.ref['@ref'].id}`}"
            data-order="{`${thisTalk.data.order}`}"
          >
            {#if isSorting}
              <td>
                <i class="fa fa-grip-vertical has-text-link"></i>
              </td>
            {/if}
            {#if showColumns.includes("title")}
              <td>
                {#if thisTalk.data.icon}
                  {thisTalk.data.icon}
                {:else}
                  🗣️
                {/if}
                &nbsp;
                {thisTalk.data.title}
              </td>
            {/if}

            {#if showColumns.includes("tagline")}
              <td>
                {thisTalk.data.tagline}
              </td>
            {/if}

            {#if showColumns.includes("status")}
              <td>
                {#if thisTalk.data.status}
                  <span class="tag">
                    {talkStatusLookup(thisTalk.data.status).icon}
                    <span class="is-hidden-mobile">
                      &nbsp;
                      {talkStatusLookup(thisTalk.data.status).text}
                    </span>
                  </span>
                {:else}
                  <span class="tag">?</span>
                {/if}
              </td>
            {/if}

            {#if showColumns.includes("published")}
              <td>
                {#if thisTalk.data.published}
                  <span class="tag is-info"> Yes ✅ </span>
                {:else}
                  <span class="tag"> Not Published </span>
                {/if}
              </td>
            {/if}
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
{/if}
