<script>
  import { currentUser } from "../../stores/user";
  import { talks } from "../../lib/db";

  import Loading from "../../components/loading.svelte";
  import CfpHeader from "../../components/cfps/cfpHeader.svelte";
  import TalkList from "../../components/talks/talkList.svelte";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";
  import * as db from "../../lib/db";

  let myTalks = [],
    isLoading = true;

  function loadTalks() {
    isLoading = true;

    talks.getAll($currentUser).then((ret) => {
      myTalks = ret;
      myTalks = talks.sortList(myTalks, "order");
      myTalks.forEach((v, i) => {
        if (!v.data.order) {
          v.data.order = i + 1;
          db.talks.update($currentUser, v.ref["@ref"].id, v.data);
        }
      });
      myTalks = talks.sortList(myTalks, "order");
      setTimeout(() => {
        isLoading = false;
      }, 400);
    });
  }

  loadTalks();
</script>

<Breadcrumbs
  crumbs="{[
    { name: 'Talk Abstract Dashboard', link: '/home/talks/' },
    { name: 'All Abstracts' },
  ]}"
/>

<div class="container">
  <div class="box">
    <CfpHeader
      headerText="All Abstracts"
      showAddButtons="{true}"
      on:talkAdded="{loadTalks}"
    />
    {#if isLoading}
      <Loading />
    {:else}
      <TalkList
        myTalks="{myTalks}"
        showReorder="{true}"
        showColumns="{['title', 'tagline', 'published', 'status']}"
      />
    {/if}
  </div>
</div>
