<script>
  import Breadcrumbs from "../../components/breadcrumbs.svelte";
  import PublishedTalks from "../../components/talks/publishedTalks.svelte";
  import CfpHeader from "../../components/cfps/cfpHeader.svelte";
</script>

<Breadcrumbs
  crumbs="{[
    { name: 'Talk Abstract Dashboard', link: '/home/talks/' },
    { name: 'Published Abstracts' },
  ]}"
/>

<div class="container">
  <div class="box">
    <CfpHeader headerText="Published Talk Abstracts" showAddButtons="{false}" />
    <PublishedTalks />
  </div>
</div>
