<script>
  import * as db from "../../lib/db";
  import { sortList } from "../../lib/db/cfps";
  import EmptyState from "../../components/emptyState.svelte";
  import LoadingSpin from "../../components/loadingSpin.svelte";
  import Loading from "../../components/loading.svelte";
  import CfpList from "../../components/cfps/cfpList.svelte";

  let theseEvents = [],
    thisYearEvents = [],
    lastYearEvents = [];
  let isLoading = true,
    currTab = "thisYear";
  // #25: Customize header text.  User's name?
  let headerText = "My Events";
  export let shortCode;
  const thisYear = new Date().getFullYear();
  const lastYear = thisYear - 1;

  function loadEvents() {
    db.cfps
      .getPublic(shortCode)
      .then((res) => {
        theseEvents = res;
        theseEvents = theseEvents.filter(
          (e) => e.data.attendance != "Notattending"
        );
        theseEvents = sortList(theseEvents, "eventstart");

        thisYearEvents = theseEvents.filter(
          (e) => e.data.eventstart.substring(0, 4) == thisYear
        );
        lastYearEvents = theseEvents.filter(
          (e) => e.data.eventstart.substring(0, 4) == lastYear
        );
      })
      .catch((e) => {
        console.error(e);
      })
      .finally(() => {
        setTimeout(() => {
          isLoading = false;
        }, 250);
      });
  }

  loadEvents();
</script>

<div class="container">
  <div class="box">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h2 class="is-size-3">{headerText}</h2>
        </div>
      </div>
    </nav>
  </div>

  {#if theseEvents.length > 0}
    <div class="tabs is-large">
      <ul>
        <li class="{currTab == 'lastYear' ? 'is-active' : ''}">
          <!-- svelte-ignore a11y-missing-attribute -->
          <a on:click="{() => (currTab = 'lastYear')}">Last Year</a>
        </li>
        <li class="{currTab == 'thisYear' ? 'is-active' : ''}">
          <!-- svelte-ignore a11y-missing-attribute -->
          <a on:click="{() => (currTab = 'thisYear')}">This Year</a>
        </li>
      </ul>
    </div>
    {#if currTab == "lastYear"}
      {#if lastYearEvents.length > 0}
        <CfpList
          myCFPs="{lastYearEvents}"
          showColumns="{[
            'event',
            'duedate',
            'attendance',
            'eventdates',
            'location',
          ]}"
        />
      {:else}
        <EmptyState>No events for this year yet.</EmptyState>
      {/if}
    {:else if currTab == "thisYear"}
      {#if thisYearEvents.length > 0}
        <CfpList
          myCFPs="{thisYearEvents}"
          showColumns="{[
            'event',
            'duedate',
            'attendance',
            'eventdates',
            'location',
          ]}"
        />
      {:else}
        <EmptyState>No events for this year yet.</EmptyState>
      {/if}
    {/if}
  {:else if isLoading}
    <Loading />
  {:else if theseEvents.message}
    <EmptyState>
      {theseEvents.message}
    </EmptyState>
  {:else}
    <EmptyState>This user hasn't published any events yet.</EmptyState>
  {/if}
</div>
