<script>
  export let title, type, url, image, description, creator;
</script>

<svelte:head>
  <!-- OpenGraph.svelte -->
  <meta property="og:title" content="{title}" />
  <meta property="og:site_name" content="CFPs.dev" />
  <meta property="og:url" content="{url}" />
  <meta property="og:description" content="{description}" />
  <meta property="og:type" content="{type ? type : 'article'}" />
  <meta property="og:locale" content="en_US" />

  <meta property="og:image" content="{image}" />
  <!-- 
      #57 - Calculate og:image type, width, height
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" /> -->

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="CFPs.dev" />
  <meta name="twitter:creator" content="{creator}" />
  <meta name="twitter:title" content="{title}" />
  <meta name="twitter:description" content="{description}" />
  <meta name="twitter:image:src" content="{image}" />
  <!-- /end OpenGraph.svelte -->
</svelte:head>
