<script>
  import { navigate } from "svelte-navigator";

  import { cfpStatusLookup } from "../../stores/enums";
  import { currentUser } from "../../stores/user";

  import { cfps } from "../../lib/db";
  import Loading from "../../components/loading.svelte";
  import AddCfp from "../../components/cfps/AddCFP.svelte";
  import AddTalk from "../../components/talks/AddTalk.svelte";
  import CfpsDue from "./cfpsDue.svelte";
  import EventsUpcoming from "../events/eventsUpcoming.svelte";
  import LoadingSpin from "../../components/loadingSpin.svelte";

  let isLoading, stats;

  function loadStats() {
    isLoading = true;
    cfps.getStats($currentUser).then((ret) => {
      stats = ret;
      isLoading = false;
    });
    // #14: catch errors
  }

  loadStats();
</script>

<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello, {$currentUser?.user_metadata?.full_name}.
            </h1>
            <!-- #24: Fun phrases here -->
            <h2 class="subtitle">I hope you are having a great day!</h2>
          </div>
        </div>
      </section>
    </div>
    <div class="column my-auto mx-auto">
      <div class="field is-grouped">
        <p class="control">
          <AddCfp isLarge="{true}" on:added="{loadStats}" />
        </p>
        <p class="control">
          <AddTalk isLarge="{true}" />
        </p>
      </div>
    </div>
  </div>

  <section class="my-5">
    <div class="tile is-ancestor has-text-centered">
      <div
        class="tile is-parent is-clickable"
        on:click="{() => navigate('/home/due')}"
      >
        <article class="tile is-child box">
          <p class="title">
            {#if isLoading}
              <LoadingSpin />
            {:else}
              {stats.duesoon}
            {/if}
          </p>
          <p class="subtitle">Due Soon</p>
        </article>
      </div>
      <div
        class="tile is-parent is-clickable"
        on:click="{() => navigate('/home/planned')}"
      >
        <article class="tile is-child box">
          <p class="title">
            {#if isLoading}
              <LoadingSpin />
            {:else}
              {stats.planned}
            {/if}
          </p>
          <p class="subtitle">
            {cfpStatusLookup("Planned").icon}
            {cfpStatusLookup("Planned").text}
          </p>
        </article>
      </div>
      <div
        class="tile is-parent is-clickable"
        on:click="{() => navigate('/home/submitted')}"
      >
        <article class="tile is-child box">
          <p class="title">
            {#if isLoading}
              <LoadingSpin />
            {:else}
              {stats.submitted}
            {/if}
          </p>
          <p class="subtitle">
            {cfpStatusLookup("Submitted").icon}
            {cfpStatusLookup("Submitted").text}
          </p>
        </article>
      </div>
      <div
        class="tile is-parent is-clickable"
        on:click="{() => navigate('/home/accepted')}"
      >
        <article class="tile is-child box">
          <p class="title">
            {#if isLoading}
              <LoadingSpin />
            {:else}
              {stats.accepted}
            {/if}
          </p>
          <p class="subtitle">
            {cfpStatusLookup("Accepted").icon}
            {cfpStatusLookup("Accepted").text}
          </p>
        </article>
      </div>
    </div>
  </section>

  {#if isLoading}
    <Loading />
  {:else if stats}
    <CfpsDue showBreadcrumbs="{false}" />

    <EventsUpcoming showBreadcrumbs="{false}" />
  {/if}
</div>
