<script>
  import { cfps } from "../../lib/db";
  import { currentUser } from "../../stores/user";
  import Loading from "../../components/loading.svelte";
  import CfpList from "../../components/cfps/cfpList.svelte";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";
  import EmptyState from "../../components/emptyState.svelte";

  let dueSoon = [];
  let isLoading = true;
  export let showBreadcrumbs = true;

  cfps.getAll($currentUser).then((ret) => {
    dueSoon = cfps.duesoon(ret);
    dueSoon = cfps.sortList(dueSoon, "duedate");
    isLoading = false;
  });
</script>

{#if showBreadcrumbs}
  <Breadcrumbs
    crumbs="{[{ link: '/home', name: 'Dashboard' }, { name: 'Due Soon' }]}"
  />
{/if}

<div class="box">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="is-size-3">
          CFPs Due Soon
          {#if !isLoading}
            ({dueSoon.length})
          {:else}
            (⌛)
          {/if}
        </h2>
      </div>
    </div>
  </nav>

  {#if isLoading}
    <Loading />
  {:else if dueSoon.length === 0}
    <EmptyState>No CFPs due soon</EmptyState>
  {:else}
    <CfpList
      myCFPs="{dueSoon}"
      showColumns="{['event', 'duedate', 'cfpstatus', 'location']}"
    />
  {/if}
</div>
