<script>
  export let gitlabIssueURL = "";
</script>

<article class="message is-warning">
  <div class="message-header">
    <p>Coming Soon</p>
  </div>
  <div class="message-body">
    <slot>
      We're still working on this feature. Check back soon!
      {#if gitlabIssueURL}
        <br /><br />
        To provide feedback on this specific feature or add your vote, please visit
        <a href="{gitlabIssueURL}" target="_blank"> this GitLab issue</a>.
      {/if}
    </slot>
  </div>
</article>
