<script>
  import { navigate } from "svelte-navigator";
  import { isLoggedIn } from "../stores/user";
</script>

{#if !$isLoggedIn}
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-size-3">Login</p>
    </header>
    <div class="card-content">
      <button
        class="button is-warning is-large is-fullwidth my-2"
        on:click="{() => window.netlifyIdentity.open('login')}"
      >
        <span class="icon">
          <i class="fas fa-sign-in-alt"></i>
        </span>
        <span>Login</span>
      </button>
      <button
        class="button is-link is-large is-fullwidth my-2"
        on:click="{() => window.netlifyIdentity.open('signup')}"
      >
        <span class="icon">
          <i class="fas fa-user-plus"></i>
        </span>
        <span>Sign up</span>
      </button>
    </div>
  </div>
{:else}
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-size-3">Welcome Back 👋</p>
    </header>
    <div class="card-content">
      <button
        class="button is-warning is-large is-fullwidth my-2"
        on:click="{() => navigate('home')}"
      >
        <span class="icon">
          <i class="fas fa-sign-in-alt"></i>
        </span>
        <span>Home</span>
      </button>
    </div>
  </div>
{/if}
