<script>
  import { navigate, useLocation } from "svelte-navigator";
  import { isLoggedIn } from "../stores/user";
  import Login from "./Login.svelte";
  const location = useLocation();

  $: if (!isLoggedIn) {
    console.log("not logged in");
    navigate("/login", {
      state: { from: $location.pathname },
      replace: true,
    });
  }
</script>

{#if $isLoggedIn}
  <slot />
{:else}
  <div class="container my-4">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="notification is-danger">
          <h2>You are not currently logged in</h2>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <Login />
  </div>
{/if}
