<script>
  import dayjs from "dayjs";

  import CfpList from "../../components/cfps/cfpList.svelte";
  import Loading from "../../components/loading.svelte";
  import LoadingSpin from "../../components/loadingSpin.svelte";
  import { cfps, users } from "../../lib/db";
  import { currentUser } from "../../stores/user";

  let speakingEvents = [],
    attendingEvents = [],
    shortCode = "",
    myProfile = {},
    publishEvents;
  let isLoading = true,
    isLoadingShort = true;

  function loadEvents() {
    cfps
      .getAll($currentUser)
      .then((all) => {
        all = all.filter(
          (e) => e.data.eventstart > dayjs().format("YYYY-MM-DD")
        );
        speakingEvents = all.filter((e) => e.data.attendance === "Speaking");
        speakingEvents = cfps.sortList(speakingEvents, "eventstart");
        attendingEvents = all.filter(
          (e) =>
            e.data.attendance === "Attendee" || e.data.attendance === "Planned"
        );
        attendingEvents = cfps.sortList(attendingEvents, "eventstart");
      })
      .catch((e) => console.error(e))
      .finally(() =>
        setTimeout(() => {
          isLoading = false;
        }, 400)
      );
  }

  users
    .getMyProfile($currentUser)
    .then((val) => {
      myProfile = val;
      shortCode = val.shortCode;
    })
    .finally(() => {
      setTimeout(() => {
        isLoadingShort = false;
      }, 400);
    });

  $: if (publishEvents) {
    users.update($currentUser, { ...myProfile, publishEvents });
  } else {
    users.update($currentUser, { ...myProfile, publishEvents });
  }

  loadEvents();
</script>

<div class="box">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="is-size-3">Event Dashboard</h2>
      </div>
    </div>
  </nav>

  <article class="message is-primary">
    <div class="message-body">
      Events include any CFP that you said you were attending or speaking at. To
      add an event that you aren't speaking at, just set your attendance to
      "Planned" and CFP status to "Not Submitting"
    </div>
  </article>

  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h3 class="is-size-4">🗣️ &nbsp; Speaking Events</h3>
      </div>
    </div>
  </nav>

  {#if isLoading}
    <Loading />
  {:else if speakingEvents.length === 0}
    <article class="message">
      <div class="message-body">No speaking events found</div>
    </article>
  {:else}
    <CfpList
      myCFPs="{speakingEvents}"
      showColumns="{['event', 'eventdates', 'location', 'recordingDue']}"
    />
  {/if}

  <hr />
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h3 class="is-size-4">👀 &nbsp; Attending Events</h3>
      </div>
    </div>
    <div class="level-right">
      {#if isLoadingShort}
        <div class="level-item">
          <p class="is-size-6 has-text-info">
            Loading...
            <LoadingSpin />
          </p>
        </div>
      {:else if shortCode}
        <div class="level-item mx-3">
          <p>
            Publically available on <br />
            <a
              href="{`https://cfps.dev/u/${shortCode}/events`}"
              target="_blank"
            >
              <code>cfps.dev/u/{shortCode}/events</code>
            </a>
          </p>
        </div>
        <div class="level-item">
          <div class="field">
            <input
              id="switchPublish"
              type="checkbox"
              name="switchPublish"
              class="switch is-rounded is-small"
              bind:checked="{publishEvents}"
            />
            <label for="switchPublish"></label>
          </div>
        </div>
      {:else}
        <div class="level-item mx-3">
          <p class="is-size-7">
            To set your public URL, <br />
            visit the Talk Abstract Dashboard
          </p>
        </div>
      {/if}
    </div>
  </nav>

  {#if isLoading}
    <Loading />
  {:else if attendingEvents.length === 0}
    <article class="message">
      <div class="message-body">No attendee events found</div>
    </article>
  {:else}
    <CfpList
      myCFPs="{attendingEvents}"
      showColumns="{['event', 'eventdates', 'location', 'attendance']}"
    />
  {/if}
</div>
